body{
  font-family: 'Varela Round', sans-serif;
}

.top-container{
  padding: 2% 2% 0 2%;
  background-color: #e11e2c;
}

.header{
  background-color: #e11e2c;
  padding: 0;
}

.menu-items{
  padding: 0 2%;
}

.meat-categories{
  color: #fff;
  text-align: center;
}

.meat-categories:hover{
  color: #fff;
}

.nav-item:hover{
  background-color: #faae16;
  border-radius: 2px;
}

.official-logo{
  margin-right: 5%;
}

.page-title{
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  display: block;
}


button{
    font-family: 'Varela Round', sans-serif;
}

.pork-items{
  margin-bottom: 2%;
}

.pork-items-section{
  padding: 2%;
  font-family: 'Varela Round', sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: #faae16;
  margin:auto;
}

.pork-items-section h2{
  color: #e11e2c;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

.card-header{
  text-align: center;
  font-size: 2rem;
}

#growfoodsFeatures{
  background-color: #1d4f36;
  font-family: 'Varela Round', sans-serif;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  padding: 2% 3%;
}

.feature-images{
  margin: 2%;
}

.features-text{
  color:#fff;
}

.footer-section{
  background-color: #fff;
  padding: 3% 3% 0;
  text-align: center;
  opacity: 50%;
}
